body {
  font-family: Courier, monospace;
  font-size: 14pt;
  background-color: white;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: cursive, sans-serif;
  font-size: 22pt;
  font-weight: bold;
}
